[*]
charset=utf-8
end_of_line=lf
trim_trailing_whitespace=true
insert_final_newline=true
indent_style=tab
indent_size=4
# add space before curly brace in if statements
space_before_open_brace=all
# add space after if keyword
space_after_if=all
